<div ng-controller='EditUserController'>
  <super-navbar>
    <super-navbar-title>
      Details
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <form ng-hide="showSpinner" ng-submit="submitForm()">
      <div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model='user.name'>
        </label>
        <br>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" ng-model='user.email'>
        </label>
        <br>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Phone</span>
          <input type="text" ng-model='user.phone'>
        </label>

        <button class="button button-block button-positive">Save</button>
      </div>
    </form>
  </div>
</div>
