<div ng-controller='ShowUserController'>
  <super-navbar>
    <super-navbar-title>
      Account
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div>
      <h3 ng-bind='user.name'></h3>
      <h3 ng-bind='user.email'></h3>
      <h3 ng-bind='user.phone'></h3>

      <super-navigate location="user#edit-user">
        <button class="button button-block button-positive">
          {{ userButtonText || 'Create' }}
        </button>
      </super-navigate>

    </div>
  </div>
</div>
