<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-button side="left" ng-click="openSearch()">
      Search
    </super-navbar-button>
    <super-navbar-title>
      Homes
    </super-navbar-title>
    <super-navbar-button side="right" ng-click="openSort()">
      Sort
    </super-navbar-button>
  </super-navbar>
  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <div class="button-bar">
      <a ng-click="groupFilter(true)" ng-class='{ "button-positive" : choice }' class='button super-thumbsup'></a>
      <a ng-click="groupFilter(false)" ng-class='{ "button-positive" : choice === false }' class='button super-thumbsdown'></a>
    </div>
    <ul class="list homes-index">
    <dir-pagination-controls template-url="items-total.tpl.html"></dir-pagination-controls>
      <div infinite-scroll="scrollLoad()" infinite-scroll-distance="1" can-load="true">
        <div dir-paginate="home in homes | homeFilter: q | orderBy: sort.predicate: sort.reverse | itemsPerPage: scrollLimit" current-page="currentPage" class="repeat">
          <li ng-click='openShow(home.id)' class="item item-icon-right no-padding">
            <img class="full-image" ng-src="http://pcspads.com/listing_pics/{{ home.id }}/{{ home.id }}_01.jpg">
            <div class="details">
              <div class="row">
                <h2 class="col" ng-bind="home.ad"></h2>
              </div>
              <div class="row house">
                <div class="col">
                  <span ng-bind="home.pr | currency:undefined:0"></span><br>
                  <span ng-bind="home.bd" flex></span> Bd / 
                  <span ng-bind="home.ba" flex></span> Bth
                </div>
                <div class="col">
                  <span>SqFt: </span><span ng-bind="home.ft"></span><br>
                  <span>Year: </span><span ng-bind="home.yr"></span>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
    </ul>
    <dir-pagination-controls template-url="items-loading.tpl.html"></dir-pagination-controls>
    <h4 ng-show="homes.length === 0" class="assertive padding">
      No homes found.
    </h4>
  </div>
</div>
