<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Search
    </super-navbar-title>
  </super-navbar>

  <div class="search padding">
  <input ng-model='q.bd.from' type="number" min="1" max="10">
    <!-- <slider style="height: 100px; display: block;"
        ng-model="q.bd.from"
        ng-model-range="q.bd.to"
        buffer="1"
        floor="1"
        ceiling="10"
        step="1"
        precision="1">
    </slider> -->
  </div>

  <!-- <super-modal-hide>   -->
    <button class="button button-block" ng-click="closeSearch()">
      Search 
    </button>
  <!-- </super-modal-hide> -->
</div>
