<div ng-controller="SearchController">
  <super-navbar>
    <super-navbar-title>
      Search
    </super-navbar-title>
  </super-navbar>

  <div class="search padding">
    <input type="text" ng-model="q.ad" placeholder="Address">
    <h3>Beds</h3>
    <slider
        ng-model="q.bd.from"
        ng-model-range="q.bd.to"
        buffer="1"
        floor="1"
        ceiling="10"
        step="1"
        precision="1">
    </slider>
    <h3>Baths</h3>
    <slider
        ng-model="q.ba.from"
        ng-model-range="q.ba.to"
        buffer="1"
        floor="1"
        ceiling="10"
        step="1"
        precision="1">
    </slider>

    <button class="button button-block button-positive" ng-click="closeSearch()">
      Search 
    </button>
  </div>
</div>
