<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title ng-bind="home.ad"></super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="home.pr"></h2>
      <p><span ng-bind="home.br"></span> Beds <span ng-bind="home.ba"></span> Baths</p>
      <p>Year: <span ng-bind="home.yr"></span></p>
      <p>SqFt: <span ng-bind="home.sf"></span></p>
      <p><span ng-bind="home.ad"></span></p>
      <p>extra: <span ng-bind="home['extra']"></span></p> 
      <p>premium: <span ng-bind="home['premium']"></span></p> 
      <p>MLS Number: <span ng-bind="home.ml"></span></p>
      <style>
        .angular-google-map-container { height: 400px; }
      </style> 
    
      <ui-gmap-google-map center='map.center' zoom='map.zoom' style="height:400px"></ui-gmap-google-map>
    </div>
  </div>
</div>
