<div ng-controller="ContactController">
  <super-navbar>
    <super-navbar-title>
      {{ pageTitle }}
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <img class='agent-pic' src='/img/agent-pic.jpg'>
    <h3 class='agent-contact'>
      Bob and Alice Smith, Realtors
      <br>
      212-555-1212
      <br>
      <a href='mailto:John@example.com'>Smiths@example.com</a>
    </h3>
    <p>
      We've been married for 35 years so we understand commitment. We are committed to helping our clients get the best deals possible when buying or selling their homes. We take this seriously and consider it an honor that they have put their trust in us to help their families with the largest purchase they will make today. Please know when you choose us to help you with your home, we will be there before and after the sale.
    </p>
  </div>
</div>
