<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Welcome to ReApp
    </super-navbar-title>
  </super-navbar>

  <h2>You've found the best way to view up-to-date listings in your area.</h2>

  <super-navigate view-id="listing#listing-multiple-view">
    <button class="button button-block button-positive icon-left super-grid">View Listings</button>
  </super-navigate>

  <super-navigate view-id="listing#listing-multiple-view">
    <button class="button button-block button-positive icon-left super-person">Manage Your Account</button>
  </super-navigate>

</div>
