<div ng-controller="ListingSingleController">
  <super-navbar>
    <super-navbar-title>
      {{ listing.address.StreetNumber }} {{ listing.address.StreetName }}
    </super-navbar-title>
  </super-navbar>
  <style> img { max-width: 219px; } </style>
  <div layout="row" style="overflow:scroll">
    <img ng-repeat="photo in photos()" layout="column" ng-src="{{photo}}" flex flex-sm="75" flex-md="75">
  </div>

  <div class="padding">
    <h2>
      {{listing.address_fields.StreetNumber}}
      {{listing.address_fields.StreetName}}
      <br />
      {{listing.address_fields.City}},
      {{listing.address_fields.StateOrProvince | uppercase}}
      {{listing.address_fields.PostalCode}}
    </h2>
    <h3>{{listing.price | currency:undefined:0}}</h3>
    <h3>
      {{listing.beds}} Bedrooms {{listing.extra.BathsTotal}} Full Baths {{listing.extra.HalfBaths}} Half Baths
    </h3>
    <h3>Year Built: {{listing.extra.Age}}</h3>
    <h3>{{listing.extra.SqFtRange}} Square Feet</h3>
    <hr>
    <h3>{{listing.extra.PublicRemarks}}</h3>
    <h3>Acreage: {{listing.extra.Acreage}}</h3>
    <h3>{{listing.extra.County}} County</h3>
    <h3>Style: {{listing.extra.Style}}</h3>
    <h3>Condition: {{listing.extra.Condition}}</h3>
    <h3>Includes: {{listing.extra.Includes}}</h3>
    <h3>Appliances: {{listing.extra.Appliance}}</h3>
    <h3>Fireplace: {{listing.extra.Fireplace}}</h3>
    <h3>Interior Features: {{listing.extra.InteriorFeatures}}</h3>
    <h3>Dining Room: {{listing.extra.DiningRoom}}</h3>
    <h3>Misc: {{listing.extra.Misc}}</h3>
    <h3>Garage: {{listing.extra.Garage}}</h3>
    <h3>Property Construction Material: {{listing.extra.PropertyConstructionMaterial}}</h3>
    <h3>Site Description: {{listing.extra.SiteDescription}}</h3>
    <h3>Miscellaneous: {{listing.extra.Miscellaneous}}</h3>
    <h3>Heat: {{listing.extra.TypeHeat}}</h3>
    <h3>Gas: {{listing.extra.Gas}}</h3>
    <h3>Electric: {{listing.extra.Electric}}</h3>
    <h3>Sewer: {{listing.extra.Sewer}}</h3>
    <h3>Water: {{listing.extra.Water}}</h3>
    <h3>Floors: {{listing.extra.Floors}}</h3>
    <h3>Lot Number: {{listing.extra.LotNumber}}</h3>
    <h3>Possession: {{listing.extra.Possession}}</h3>
    <h3>Contingency Status: {{listing.extra.ContingencyStatus}}</h3>
    <h3>Zoning: {{listing.extra.Zoning}}</h3>
    <h3>Units: {{listing.extra.Units}}</h3>
    <h3>Occupancy Description: {{listing.extra.OccupancyDescription}}</h3>
    <h3>MLS Number: {{listing.extra.ListingID}}</h3>
    <super-navigate ng-hide="isCurrentUser" location="user#edit-user">
      <button class="button button-block button-positive">
        Create Account to See Much More
      </button>
    </super-navigate>
    <div ng-show="isCurrentUser">
      <hr>
      <h3>ListDate: {{listing.premium.ListDate}}</h3>
      <h3>AddressSubdivisionName: {{listing.premium.AddressSubdivisionName}}</h3>
      <h3>Area: {{listing.premium.Area}}</h3>
      <h3>ProposedAssessments: {{listing.premium.ProposedAssessments}}</h3>
      <h3>ConfirmedSpcAssessment: {{listing.premium.ConfirmedSpcAssessment}}</h3>
      <h3>Foreclosure: {{listing.premium.Foreclosure}}</h3>
      <h3>ShortSaleYN: {{listing.premium.ShortSaleYN}}</h3>
      <h3>DueDiligencePeriod: {{listing.premium.DueDiligencePeriod}}</h3>
      <h3>ElementarySchool: {{listing.premium.ElementarySchool}}</h3>
      <h3>MiddleSchool: {{listing.premium.MiddleSchool}}</h3>
      <h3>HighSchool: {{listing.premium.HighSchool}}</h3>
      <h3>VirtualTourURL: {{listing.premium.VirtualTourURL}}</h3>
      <h3>WoodedAcres: {{listing.premium.WoodedAcres}}</h3>
      <h3>TaxID: {{listing.premium.TaxID}}</h3>
      <h3>DeedBookNumber: {{listing.premium.DeedBookNumber}}</h3>
      <h3>DeedPage: {{listing.premium.DeedPage}}</h3>
      <h3>PlatBook: {{listing.premium.PlatBook}}</h3>
      <h3>PlatBookPage: {{listing.premium.PlatBookPage}}</h3>
      <h3>ClosePrice: {{listing.premium.ClosePrice}}</h3>
      <h3>CloseDate: {{listing.premium.CloseDate}}</h3>
      <h3>OwnerName: {{listing.premium.OwnerName}}</h3>
      <h3>HomeWarrantyYN: {{listing.premium.HomeWarrantyYN}}</h3>        
    </div>
  </div>
</div>
