<div ng-controller="ListingMultipleController" class="padding">

  <super-navbar>
    <super-navbar-title>
      Listings
    </super-navbar-title>
  </super-navbar>

  <md-content>
    <md-list>
      <md-item dir-paginate="listing in listings | itemsPerPage: 10">
        <super-navigate location="listing#listing-single-view" data-params-id="{{ listing.extra.ListingID }}" >
          <h2>{{ listing.address_fields.StreetNumber }} {{ listing.address_fields.StreetName }}</h2>
          <md-item-content>
            <img src="http://pcspads.com/listing_pics/{{ listing.extra.ListingID }}/{{ listing.extra.ListingID }}_01.jpg" flex='25'>
            <div class="md-tile-content" flex>
              <h3>ListPrice: {{listing.price}}</h3>
              <h3>Bedrooms: {{listing.beds}}</h3>
              <h3>BathsTotal: {{listing.extra.BathsTotal}}</h3>
              <h3>HalfBaths: {{listing.extra.HalfBaths}}</h3>
              <!-- <h3>Age: {{listing.main.Age}}</h3> -->
              <!-- <h3>Acreage: {{listing.main.Acreage}}</h3> -->
              <!-- <h3>SqFtRange: {{listing.main.SqFtRange}}</h3> -->
            </div>
          <div class="md-tile-right" flex layout-margin layout-padding>
            <button class="button button-block button-positive" flex>
              See It
            </button>
          </div>
          </md-item-content>
          <hr />
        </super-navigate>
      </md-item>
    </md-list>
  <dir-pagination-controls template-url="dirPagination.tpl.html"></dir-pagination-controls>
  </md-content>