.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.agent-pic { width: 100%; border-bottom: 1px solid black; }
.agent-contact { text-align: center; }

.homes-show {
  table {
    table-layout: fixed;
    width: 100%;
  }
  table, th, td { border: 1px solid #333; }
  table.no-top-border { margin-top: -1px; }
  td { padding: 0.25em; }
  td:first-child { width: 125px; }

  .home-map { margin-top: 1.5em; }
  .home-map .angular-google-map-container { height: 300px; }
}

.search {
  overflow-x: hidden;
  overflow-y: scroll; 
  -webkit-overflow-scrolling: touch;

  span.bubble.selection.ng-binding {
    display: none !important;
  }
}

/* home#index */
.homes-index {
  .details {
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
  }
  .details i {
    background: #fff;
  }
  .item.no-padding {
    padding: 0 0 0 0;
  }
  .repeat::after {
    content: ' ';
    height: 1em;
    width: 100%;
    background: #00B5FF;
    display: block;
  }
  .details h2.col, .details .col span {
    font-size: 1.2 em;
  }
  .details .row.house .col {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1em;
    margin: 0;
  }
  .details .row .col {
    padding: 1em;
  }
  .details .row {
    padding: 0;
  }
}