<div ng-controller="ContactController">
  <super-navbar>
    <super-navbar-title>
      Contact
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <img class='agent-pic' src='/img/person.svg'>
    <h3 class='agent-contact'>
      Jane Doe, Realtor
      <br>
      212-555-1212
      <br>
      <a href='mailto:doe@example.com'>doe@example.com</a>
    </h3>
    <p>
      I've been married for 20 years so I understand commitment. I am committed to helping my clients get the best deals possible when buying or selling their homes. I take this seriously and consider it an honor that you have put you trust in me.
    </p>
  </div>
</div>
