/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  background-color: #00B5FF;
  color: #ffffff;

  title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }

  button, back-bar-button {
    color: #ffffff;
    font-weight: 300;
  }
}


tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;

  tab-bar-item {
    color: #b0b1b4;
    font-family: "Avenir";
    font-size: 10px;

    &:selected { color: #1596f7; }
    &#homes { background-image: url(icons/home.svg); }
    &#account { background-image: url(icons/person.svg); }
    &#contact { background-image: url(icons/ios-contact-outline.svg); }
  }
}
