<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title><%= yield.viewName %></title>

  <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
  <link rel="stylesheet" href="/components/angular-material/angular-material.css">
  <link rel="stylesheet" href="/components/photoswipe/dist/photoswipe.css">
  <link rel="stylesheet" href="/components/photoswipe/dist/default-skin/default-skin.css">
  <link rel="stylesheet" href="/app/common/stylesheets/slider.min.css">
  <link rel="stylesheet" href="/common/stylesheets/application.css">

  <link rel="import" href="/components/supersonic/components/import.html">

  <!-- <script src="http://localhost/cordova.js"></script> -->
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/supersonic/supersonic.js"></script>
  <script src="/components/webcomponentsjs/webcomponents.js"></script>
  <script src="/components/angular-material/angular-material.min.js"></script>
  <script src="/components/localforage/dist/localforage.min.js"></script>
  <script src="/components/angular-localforage/dist/angular-localForage.min.js"></script>
  <script src="/components/angular-utils-pagination/dirPagination.js"></script>
  <script src='/components/lodash/dist/lodash.min.js'></script>
  <script src='/components/angular-google-maps/dist/angular-google-maps.min.js'></script>
  <script src='/components/photoswipe/dist/photoswipe.js'></script>
  <script src='/components/photoswipe/dist/photoswipe-ui-default.min.js'></script>
  <script src="/components/angular-touch/angular-touch.min.js"></script>
  <script src="/components/venturocket-angular-slider/build/angular-slider.min.js"></script>
  <script src="/components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
  <script src="//www.parsecdn.com/js/parse-1.3.5.min.js"></script>
  <script src="../../parse.js"></script>

  <script src="/app/user.js"></script>
  <% _.each(yield.modules, function(module) { %>
  <% if( module !== 'user') { %>
  <script src="/app/<%= module %>.js"></script>
  <% } %>
  <% }); %>
</head>
<body ng-app="<%= yield.moduleName %>">

<%= yield.view %>

</body>
</html>
